.left-side {
    text-align: left;
}
.center-side {
    text-align: center;
}
.right-side {
    text-align: right;
}
.section-heading > .title {
    font-weight:bold;
}

.section.spaceBg {
    background-image: url(../images/img_sec02_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thumb-ico-img img {
    max-width: 170px;
}
.splash-call-to-action.middle-bg {    
    background-image: url(../images/img_sec05_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-style-2.landerBg{
    background-image: url(../images/img_sec01_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.divider {
    width: 80%;
    border-top-width: 5px;
    height: 1px;
    background: #b3b3b3;
    margin: 10px auto;
    display: inline-block;
}

.bold {
    font-weight:bold;
}
